In [23]:
import pandas as pd
import numpy as np

In [24]:
#Загружаем данные
data = pd.read_csv('train.csv')

In [25]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [26]:
#Подготовка данных
column_target = ['Survived']
columns_train = ['Pclass', 'Sex', 'Age', 'Fare']

In [27]:
x = data[columns_train]
y = data[column_target]

In [28]:
#Проверяем, есть ли пробелы в данных

In [29]:
x['Sex'].isnull().sum()

0

In [30]:
x['Pclass'].isnull().sum()

0

In [31]:
x['Fare'].isnull().sum()

0

In [32]:
x['Age'].isnull().sum() #177

177

In [33]:
#Заполняем пустые ячейки возраста медианным значением
x['Age'] = x['Age'].fillna(x['Age'].median())

C:\Users\Вова\AppData\Local\Temp\ipykernel_6880\1615550583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Age'] = x['Age'].fillna(x['Age'].median())

In [34]:
x['Age'].isnull().sum() #0

0

In [35]:
#Заменяем str в столбце "Sex" на 0 или 1
d = {'male':0,'female':1}

x['Sex'] = x['Sex'].apply(lambda x:d[x])

C:\Users\Вова\AppData\Local\Temp\ipykernel_6880\2540962591.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Sex'] = x['Sex'].apply(lambda x:d[x])

In [36]:
x['Sex'].head()

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [37]:
#Разделяем выборку на обучающую и тестовую

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.33,random_state=42)

In [39]:
#Загружаем модель SupportVector для обучения

In [40]:
from sklearn import svm

In [41]:
predmodel = svm.LinearSVC()

In [42]:
#Обучаем модель на обучающей выборке

In [43]:
predmodel.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [ ]:
#Предсказываем на тестовой выборке

In [44]:
predmodel.predict(x_test[0:10])

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [ ]:
#Проверяем точность предсказаний

In [45]:
predmodel.score(x_test,y_test)

0.8305084745762712